subscription_id       = "00000000-0000-0000-0000-000000000000"
prefix                = "onmind-app"
location              = "eastus"
resource_group_name   = "rg-cicddemoaz"
xid_image             = "<acr>.azurecr.io/xid:latest"
xdb_image             = "<acr>.azurecr.io/xdb:latest"
xid_tenant            = "common"
xid_client_id         = "my-webapp"
xid_cors_origins      = "http://localhost:3000"
xid_env               = "dev"
xdb_oidc_client_id     = "my-webapp"
xdb_oidc_audience     = "api://my-webapp"
cosmos_db_name        = "onmind"
cosmos_container_name = "kv"
cosmos_throughput     = 400
files_storage_account_name = "<TFSTATE_SA>"
files_share_name      = "xid-data"
# files_storage_account_key = "<solo vía TF_VAR_ en pipeline/bootstrap, nunca aquí>"
enable_swa            = true
