VITE_XID_AUTHORITY=http://localhost:8787/common
VITE_XID_CLIENT_ID=my-webapp
VITE_XDB_API_URL=http://localhost:9990
VITE_XDB_API_SCOPE=api://my-webapp/access_as_user
# Ejemplo Azure:
# VITE_XID_AUTHORITY=https://<xid-host>/common
# VITE_XDB_API_URL=https://<xdb-host>
